.note {
  padding: 25px;
  height: 280px;
  width: 260px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border-radius: 30px;
}

.note_text {
  flex: 1;
  resize: none;
  font-size: 1rem;
  background-color: transparent;
  line-height: 1.875;
  outline: none;
  border: none;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer img {
  cursor: pointer;
  width: 30px;
}
